@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


body{
    font-family: Helvetica;
    padding: 0;
    margin: 0;
}

header{
    background-color: #101010;
    color: #ffffff;
    margin: 0;
    padding: 0;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo{
    background-color: #ffffff;
    width: 11.375em;
    height: 2.3125em;
    margin:auto;
    margin-left: 8.375em;
    text-align: center;
}
img{
    width: 75%;
    height: 75%;
    margin: 5px;
    object-fit: contain;
}

ul{
    display: flex;
    margin-right: 8.375em;
}
li{
    list-style: none;
    padding: 0 0 0 2.5em;
    font-size: 1.25em;
}
a{
    text-decoration: none;
    color: #ffffff;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
}

h2{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding:0;
}

h3{
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding:0;
}

p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 51px;
    font-size: 1em;
    width: 54.125em;
}

h3.footer{
    color: #ffffff;
    margin: auto 0;
    font-size: 1em;
    opacity: 50%;
}

footer{
    width: 100%;
    height: 100%;
    background-color: #101010;
    padding: 3em 8.375em;
}

.section1{
    align-items: center;
    background-color: #000000;
}
.rectangle{
    background-color: #101010;
    margin:auto 8.375rem;
    width: 48em;
    height: 20.1875em;

}

.section2{
    background-color: #101010;;
    vertical-align: bottom;
}

.rectangle2{
    width: 48em;
    height: 11.0625em;
    margin-top: auto;
    background-color: #000000;
    margin-bottom: 3.125em;
    
}

.section3{
    background-color: #000000;
    height: 100%;
    align-items: center;

}

.section4{
    background-color: #101010;
    width: 100%;
    height: 100%;
    display: block;
    /* align-items: center; */
}

.section5{
    background-color: #000000;
    width: 100%;
    height: 100%;
    
}

.section6{
    background-color: #101010;
    width: 100%;
    height: 100%;

}
.content{
    background-color: #000000;
    width: 100%;
    height: auto;
    padding: 5.375em 0;
    /* margin-top: 5.375em; */

}

.content2{
    background-color: #101010;
}

.card_container{
    /* width: 100%; */
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    /* margin-right: 8.375em; */
}

.cards{
    background-color: #101010;
    width: 31.5em;
    height: 14.438em;
    color: #ffffff;
    margin:0 1em 1em 0;
}

.article_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article{
    display: flex;
    margin:auto 8.375em;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    padding-bottom: 2em;
}

.article2{
    flex-direction: row-reverse;
}

.article4{
    flex-direction: row-reverse;
}
.article_card{
    width: 35.75em;
    height: 23em;
    background-color: #000000;
    color: #000000;
}

.section4_content{
    background-color: transparent;
}

.section4_card{
    /* margin: auto 8.375em; */
    width: 100%;
    height: 34em;
    background-color: #101010;
}

.s6_cards{
    background-color: #000000;
}

.footer_list{
    display: block;
}

.footer_container {
    display: flex;
}

.footer_container1{
    display: flex;
}

.footer_container2{
    display: flex;
    margin: 0 auto;
    padding-bottom: 1em;
}

.footer_div{
    text-align: left;
}

.footer_list .footer_text{
    padding: 0 0 .25em 0;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 1em;
}

.footer_text{
    padding-bottom: 1em;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: 1.75em;
    text-decoration-thickness: 4px;
}

